body{
    background-color: rgba(6, 180, 14, 0.705);
    width:100vw;
    height: 100vh;
}
.main h1{
 color: rgba(17, 252, 232, 0.671);
 font-size: 80px;
 position:relative;
 top:40vh;
 text-align:center;
}
