/*--------------- Background video ---------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .back{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back{
        width: auto;
        height: 100%;
    }
}

/*--------------- Comment Box ---------------*/


    input[type=text],
    select,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }

    input[type=reset]:hover {
      background-color: #f40918;
    }

    input[type=reset] {
      background-color: #f84b62;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
      margin-top: 10px;
    }

    input[type=submit] {
      background-color: #23bdb0;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
      margin-right: 30px;
      margin-top: 10px;

    }

    input[type=submit]:hover {
      background-color: #075b54;
    }

    .comment-title {
      text-align: center;
      padding: 15px 0px 15px 0px;
    }

    .container {

      border-radius: 10px;
      background-color: #f2f2f2;
      padding: 20px;
      width: 1000px;
    }

    .col-40 {
      float: left;
      width: 40%;
      margin-top: 6px;
    }

    .col-60 {
      float: left;
      width: 60%;
      margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-40,
      .col-60,
      input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
    @media screen and (max-width: 600px) {
        .col-40,
        .col-60,
        input[type=reset] {
          width: 100%;
          margin-top: 0;
        }
      }
 