
body{
    background-color: rgba(2, 36, 66, 0.959);
    width:100vw;
    height: 100vh;
}
.main h1{
 color: rgba(0, 247, 235, 0.233);
 font-size: 80px;
 position:relative;
 top:40vh;
 text-align:center;
}
