body{
    background-color: rgba(181, 255, 9, 0.712);
    width:100vw;
    height: 100vh;
}
.main h1{
 color: rgba(17, 52, 252, 0.486);
 font-size: 80px;
 position:relative;
 top:40vh;
 text-align:center;
}
