<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\aboutUsStyles.css">
    <link rel="stylesheet" href="\css\navBarStyles.css">
    <title>AboutUS</title>

</head>
<body>
    <!-- Nav Bar -->
    <div class="nav-section">
        <div class="navbar">
            <div>
                <img src="../img/logoBlack.png" alt="logo" height="60">
            </div>
            <div class="nav">
                <!-- Jinodi -->
                <a href="./home.html" >Home</a>
                <!-- Jinodi -->
                <a href="./CommentForm.html">Comments</a>
                <!-- Susa -->
                <a href="./Shop.html">Shop</a>
                <!-- Geev -->
                <a href="./Quiz.html">Quiz</a>
                <!-- all -->
                <a href="./Blog.html">Blog</a>
                <!-- Kanchana -->
                <a href="./Site_Map.html">Site Map</a>
                <!-- Kanchana -->
                <a href="./Thumbnail_Gallery.html">Image Gallery</a>
                <!-- Geev -->
                <a href="./AboutUs.html" class="active">About Us</a>
            </div>
        </div>
    </div>
    <!-- End-Navigation bar -->

    <div class="aboutTeam" id="devs">
            <div class="aboutUsTitle">Meet Our Team</div>
            <div class="aboutDevs">
                <div class="devWrap">
                    <a href="Stu1_DetailsPage.html"><img src="../img/Student1.jpg" alt="student1"></a>
                    <div class="devInfo">
                        Name : Susandi Kasthuriarachchi<br>
                        IIT Number : 20212059
                    </div>
                </div>
                <div class="devWrap">
                    <a href="Stu2_DetailsPage.html"><img src="../img/Student2.jpg" alt="student2"></a>
                    <div class="devInfo">
                        Name : Jinodi Widanage<br>
                        IIT Number : 20212051
                    </div>
                </div>
                <div class="devWrap">
                    <a href="Stu3_DetailsPage.html"><img src="../img/Student3.png" alt="student3"></a>
                    <div class="devInfo">
                        Name : Geeviniy Vazavan<br>
                        IIT Number : 20212037
                    </div>
                </div>
                <div class="devWrap">
                    <a href="Stu4_DetailsPage.html"><img src="../img/Student4.jpg" alt="student4"></a>
                    <div class="devInfo">
                        Name : Kanchana Kalansooriya<br>
                        IIT Number : 20212055
                    </div>
                </div>
            </div>
        </div>
</body>
</html>