<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\blogStyles.css">
    <link rel="stylesheet" href="\css\navBarStyles.css">
    <title>RUN-Blog</title>

</head>

<body>
    <!-- Nav Bar -->
    <div class="nav-section">
        <div class="navbar">
            <div>
                <img src="../img/logoBlack.png" alt="logo" height="60">
            </div>
            <div class="nav">
                <!-- Jinodi -->
                <a href="./home.html" class="active">Home</a>
                <!-- Jinodi -->
                <a href="./CommentForm.html">Comments</a>
                <!-- Susa -->
                <a href="./Shop.html">Shop</a>
                <!-- Geev -->
                <a href="./Quiz.html">Quiz</a>
                <!-- all -->
                <a href="./Blog.html">Blog</a>
                <!-- Kanchana -->
                <a href="./Site_Map.html">Site Map</a>
                <!-- Kanchana -->
                <a href="./Thumbnail_Gallery.html">Image Gallery</a>
                <!-- Geev -->
                <a href="./AboutUs.html">About Us</a>
            </div>
        </div>
    </div>
    <!-- End-Navigation bar -->

    <div class="main">
        <div class="header">
            <h1>OUR BLOGS</h1>
        </div>

        <div class="blog_container">
            <div class="card">
                <figure>
                    <a href="Stu4_blog.html">
                    <img src="../img/cricketBall.jpg" alt="First Card" >
                </a>
                </figure>
                <h4>The Evolution of Cricket Balls</h4>
                <p>
                    The evolution of cricket balls has been a fascinating journey. From traditional leather...

                </p>

                <div class="card-footer">


                    <div class="user">
                        <img src="../img/IMG-20220310-WA0006.jpg" alt="Frank Benedik" >
                        <div class="user-info">
                            <h5>Kanchana Kalansooriya</h5>
                            <small>25 March 2023</small>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card">
                <figure>
                    <a href="Stu3_blog.html">
                    <img src="../img/Volleyball.jpeg" alt="Second Card">
                </a>
                </figure>
                <h4>Specialty of volleyball</h4>
                <p>
                    Specialty of volleyball lies in its unique combination of physical, mental, and strategic demands...
                </p>
                <div class="card-footer">


                    <div class="user">
                        <img src="../img/Student3.png" alt="Frank Benedik">
                        <div class="user-info">
                            <h5>Geeviniy Vazavan</h5>
                            <small>25 March 2023</small>
                        </div>
                    </div>
                </div>


            </div>

            <div class="card">
                <figure>
                    <img src="../img/banner6.png" alt="Third Card">
                </figure>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit.
                    Quisque volutpat vehicula leo eu auctor.
                </p>
                <div class="card-footer">


                    <div class="user">
                        <img src="../img/IMG-20220310-WA0006.jpg" alt="Frank Benedik">
                        <div class="user-info">
                            <h5>Jinodi Widanage</h5>
                            <small>25 March 2023</small>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card">
                <figure>
                    <img src="../img/banner3.png" alt="Second Card">
                </figure>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit.
                    Quisque volutpat vehicula leo eu auctor.
                </p>
                <div class="card-footer">


                    <div class="user">
                        <img src="../img/IMG-20220310-WA0006.jpg" alt="Frank Benedik">
                        <div class="user-info">
                            <h5>Susandi Kasthuriarachchi</h5>
                            <small>25 March 2023</small>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!----------- Footer -------------->

  <footer id="footer">
    <div class="title-text">
      <p>Contact Us
      </p>
      <div class="social-media-icons">
        <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-instagram"
            style="color:#40c7d1;"></i></a>
        <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-facebook-f"
            style="color:#40c7d1;"></i></a>
        <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-twitter-square"
            style="color:#40c7d1;"></i></a>
        <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-linkedin-square"
            style="color:#40c7d1;"></i></a>
      </div>
    </div>
    <div class="footer-row">
      <div class="footer-left">
        <p> <i class="fa fa-home" aria-hidden="true"></i> Run Sports, Col 08. , Sri Lanka</p>
        <p> <i class="fa fa-envelope" aria-hidden="true"></i> run_sports@gmail.com</p>
        <p> <i class="fa fa-phone" aria-hidden="true"></i> +94 112057452</p>
      </div>

      <div class="footer-right">

        <a href="#" target="blank" class="footer a:link">
          <p> Terms of condition</p>
        </a>
        <a href="#" target="blank">
          <p> F A Q</p>
        </a>
      </div>
    </div>
    <div class="copywrite">
      <p>Copyright &copy; 2023 Run Sports (Pvt) Ltd. All Rights Reserved.</p>
      <p>Developed by a
        <a href="about-us.html#devs">Designzillas Group of Developers</a>
      </p>
    </div>
  </footer>

  <!-- Back to top button -->
  <div class="goUp" id="up">
    <a href="#top">&#8963;</a>
  </div>

</body>

</html>