<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/blogStyles.css">
    <link rel="stylesheet" href="../css/navBarStyles.css">
    <title>RUN-Blog</title>

</head>

<body>
    <!-- Nav Bar -->
    <div class="nav-section">
        <div class="navbar">
            <div>
                <img src="../img/logoBlack.png" alt="logo" height="60">
            </div>
            <div class="nav">
                <!-- Jinodi -->
                <a href="./home.html">Home</a>
                <!-- Jinodi -->
                <a href="./CommentForm.html">Comments</a>
                <!-- Susa -->
                <a href="./Shop.html">Shop</a>
                <!-- Geev -->
                <a href="./Quiz.html">Quiz</a>
                <!-- all -->
                <a href="./Blog.html" class="active">Blog</a>
                <!-- Kanchana -->
                <a href="./Site_Map.html">Site Map</a>
                <!-- Kanchana -->
                <a href="./Thumbnail_Gallery.html">Image Gallery</a>
                <!-- Geev -->
                <a href="./AboutUs.html">About Us</a>
            </div>
        </div>
    </div>
    <!-- End-Navigation bar -->

    <div class="main">
        <div class="header">
            <h1>OUR BLOGS</h1>
        </div>


        <div class="blog_container">
            <!-- Cricket Blog -->
            <div class="card">
                <figure>
                    <a href="../views/Stu4_blog.html">
                        <img src="../img/cricketBall.jpg" alt="First Card">
                    </a>
                </figure>
                <h4>The Evolution of Cricket Balls</h4>
                <p>
                    The evolution of cricket balls has been a fascinating journey. From traditional leather...

                </p>

                <div class="card-footer">


                    <div class="user">
                        <img src="../img/IMG-20220310-WA0006.jpg" alt="Frank Benedik">
                        <div class="user-info">
                            <h5>Kanchana Kalansooriya</h5>
                            <small>25 March 2023</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vollyball Blog -->
            <div class="card">

                <figure>
                    <a href="../views/Stu3_blog.html">
                        <img src="../img/Volleyball.jpeg" alt="Second Card">
                    </a>
                </figure>
                <h4>Specialty of volleyball</h4>
                <p>
                    Specialty of volleyball lies in its unique combination of physical, mental, and strategic demands...
                </p>
                <div class="card-footer">


                    <div class="user">
                        <img src="../img/Student3.png" alt="Frank Benedik">
                        <div class="user-info">
                            <h5>Geeviniy Vazavan</h5>
                            <small>25 March 2023</small>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Football Blog -->
            <div class="card">
                <figure>
                    <a href="../views/Stu2_blog.html">
                    <img src="../img/football.png" alt="Third Card">
                    </a>
                </figure>
                <h4>F.I.F.A-The 90-Minute Mindset</h4>
                <p>
                    When I get older, I will be stronger. They'll call me freedom just like a wavin' flag ....
                </p>
                <div class="card-footer">
                    <div class="user">
                        <img src="../img/Student2.jpeg" alt="Jinodi Widanage">
                        <div class="user-info">
                            <h5>Jinodi Widanage</h5>
                            <small>25 March 2023</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Swimming Blog -->
            <div class="card">
                <figure>
                    <a href="../views/Stu1_blog.html">
                    <img src="../img/swimming_blog.png" alt="Second Card">
                    </a>
                </figure>
                <h4>The Swimmer's Dive</h4>
                <p>
                    The term "swimming" refers to the propulsion of body thru the water with the help of limbs ....
                </p>
                <div class="card-footer">


                    <div class="user">
                        <img src="../img/Student1.jpg" alt="Frank Benedik">
                        <div class="user-info">
                            <h5>Susandi Kasthuriarachchi</h5>
                            <small>25 March 2023</small>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!----------- Footer -------------->

    <section class="footer-copyRight">
        <p>Copyright &copy; 2023 Run Sports (Pvt) Ltd. All Rights Reserved.</p>
        <p>Developed by a
            <a href="about-us.html#devs">Designzillas Group of Developers</a>
        </p>
    </section>

</body>

</html>