<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAN BAR</title>
    <link rel="stylesheet" href="\css\navBar.css">

</head>

<body>
    <!-- Nav Bar -->
    <div class="nav-section">
        <div class="navbar">
            <div>
                <img src="Images\Home\logoBlack.png" alt="logo" height="60">
            </div>
            <div class="nav">
                <!-- Jinodi -->
                <a href="home.html" class="active">Home</a>
                <!-- Jinodi -->
                <a href="Comment form.html">Comments</a>
                <!-- Susa -->
                <a href="Shop.html">Shop</a>
                <!-- Geev -->
                <a href="Quiz.html">Quiz</a>
                <!-- all -->
                <a href="Blog.html">Blog</a>
                <!-- Kanchana -->
                <a href="SVG.html">Site Map</a>
                <!-- Kanchana -->
                <a href="Thumbnail Images.html">Image Gallery</a>
                <!-- Geev -->
                <a href="About Us.html">About Us</a>
            </div>
        </div>
    </div>
    <!-- End-Navigation bar -->

</body>

</html>