<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/pageEditorStyles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700&family=Press+Start+2P&display=swap"
    rel="stylesheet">
  <title>RUN-PageEditor</title>
</head>

<body>

  <div class="page_editot">
    <h1>Page Editor</h1>
    <hr>
    <div class="stu_details">

      <h2>Name :
        Kanchana Kalansooriya
      </h2>
      <h2>Role : Student 4</h2>
      <p>The following pages were edited by me!</p>
    </div>

    <div class="editor_tasks">


      <h2>Thumbnail Gallery</h2>
      <p>Designed the Thumbnail Gallery by providing description & caption for each
        image. Additionally, there is a requirement to incorporate options for changing the color theme and text sizes
        to offer users a personalized experience. <br><a href="./Thumbnail_Gallery.html"> Link to Thambnail Gallery</a></p>


      <h2>Site Map</h2>
      <p>Designed the site map as a requirement of review overview whole web page and navigate to any page included in
        webpage on site map.  <br><a href="./Site_Map.html"> Link to SiteMap</a> </p>

        
      <h2>Blog Article</h2>
      <p>Designed a Blog page briefly expalining evolution of cricket ball based on sub topic cricket. <br><a href="./Stu4_blog.html"> Link to Blog</a></p>

    </div>

  </div>

</body>

</html>