<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/pageEditorStyles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700&family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>RUN-PageEditor</title>
</head>
<body>

<div class="page_editot">
    <h1>Page Editor</h1>
    <hr>
    <div class="stu_details">
      
      <h2>Name : 
        Geeviniy Vazavan
      </h2>
      <h2>Role : Student 3</h2>
      <p>The following pages were edited by me!</p>
    </div>

    <div class="editor_tasks">


      <h2>Quiz</h2>
      <p>The page was designed using html, css (To build up a web page with attractive styles) and java script (To trigger the methods
        of different functionality). The page will have 10 quesions and 4 options each with 60 seconds of countdown. 
        At the end of the timer, it will show the score of the participant. The answers are actually hardcoded and designed 
        without any validations of the answers.<br><a href="./Quiz.html"> Link to Quiz</a>
      </p>

      
      <h2>About Us</h2>
      <p>This page was designed using html and css (To build up a web page with attractive styles). The page will have the 
        informations about the team members and on navigation, it will redirect the users to see the contributions of each members.
        <br><a href="./AboutUs.html"> Link to AboutUs</a>
      </p>

      <h2>Blog Artical</h2>
      <p>Designed a Blog page briefly expalining SPECIALTY OF VOLLEYBALL based on sub topic VOLLEYBALL. <br><a href="./Stu3_blog.html"> Link to Blog</a></p>


    </div>

  </div>

</body>
</html>