<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="\css\pageEditorStyles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700&family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>RUN-PageEditor</title>
</head>
<body>

<div class="page_editot">
    <h1>Page Editor</h1>
    <hr>
    <div class="stu_details">
      
      <h2>Name : 
        Susandi Kasthuriarachchi
      </h2>
      <h2>Role : Student 1</h2>
      <p>The following pages were edited by me!</p>
    </div>

    <div class="editor_tasks">


      <h2>Splash Screen</h2>
      <p>Created using HTML, CSS, and JavaScript.logo and group name, and a high-quality image is displayed on the screen.</br> After 4 seconds, the
        main page will be displayed </p>

      
      <h2>Buy Products</h2>
      <p>Created a shop webpage on the website to sell related products. It's visually appealing and easy to navigate for customers. </br>Include all the necessary information, such as product name, description, and pricing. Integrated payment processing tools accordingly with validations. </p>

    </div>

  </div>

</body>
</html>