<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/pageEditorStyles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700&family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>RUN-PageEditor</title>
</head>
<body>

<div class="page_editot">
    <h1>Page Editor</h1>
    <hr>
    <div class="stu_details">
      
      <h2>Name : 
        Jinodi Widanage
      </h2>
      <h2>Role : Student 2</h2>
      <p>The following pages were edited by me!</p>
    </div>

    <div class="editor_tasks">
      <h2>Home Page</h2>
      <p> Created the Home page using  html , styled the banner images, buttons and hover images etc. with css and JavaScript was used create a slideshow. <br>
      Naviagtion bar and the footer was added to every site. <br>
     <a href="/views/home.html"> link to the Home Page </a></p>
      
      <h2>Comment Form</h2>
      <p>Created the Comment Form using  html , styled the form with css and JavaScript was used check the validiyt of the user inputs and to perform relevenat functions <br>
        The details in the comment form are send to the mentioned mail address. <br> <a href="/views/CommentForm.html"> link to the Comment Form </a></p>

        <h2>Blog Artical</h2>
        <p>Designed a Blog page briefly expalining Evolution Of Football based on sub topic Football. <br><a href="./Stu2_blog.html"> Link to Blog</a></p>
  

    </div>

  </div>

</body>
</html>