<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\shopStyles.css">
    <link rel="stylesheet" href="\css\navBarStyles.css">
    <title>Document</title>

</head>
<body>
    <!-- Nav Bar -->
    <div class="nav-section">
        <div class="navbar">
            <div>
                <img src="../img/logoBlack.png" alt="logo" height="60">
            </div>
            <div class="nav">
                <!-- Jinodi -->
                <a href="./home.html" class="active">Home</a>
                <!-- Jinodi -->
                <a href="./CommentForm.html">Comments</a>
                <!-- Susa -->
                <a href="./Shop.html">Shop</a>
                <!-- Geev -->
                <a href="./Quiz.html">Quiz</a>
                <!-- all -->
                <a href="./Blog.html">Blog</a>
                <!-- Kanchana -->
                <a href="./Site_Map.html">Site Map</a>
                <!-- Kanchana -->
                <a href="./Thumbnail_Gallery.html">Image Gallery</a>
                <!-- Geev -->
                <a href="./AboutUs.html">About Us</a>
            </div>
        </div>
    </div>
    <!-- End-Navigation bar -->

    <div class="main">
     <h1>SHOP - SUSA</h1>
    </div>

</body>
</html>