<!doctype html>
<html lang="en">
 <head> 
  <title>Designzillas: Student 1 details</title>
  <meta charset = 'UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Stu1DetailPageStyles.css">
 </head>
  <body>
    <div class="header">
        <h1> Student Role 1 </h1>
    </div>
    
    <div class="descp">
        <img src="../img/Student1.jpg" alt="std1" id="image"/>
        <div id="name">
            <h3>Name: Susandi Kasthuriarachchi</h3> 
            <h4>IIT number: 20212059 </h4>
            <h4> Uow ID: Don't know!!!!!!!!</h4> 
        </div> 
    </div>

    <div class="work">
      <h3>Tasks completed:&nbsp;Presentation Page&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buy Products Page</h3> 
    </div>
  </body>
</html>
 
 