<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/st2BlogStyles.css">
	<link rel="stylesheet" href="\css\navBarStyles.css">
	<title>BLOG-STU3</title>
</head>

<body>
	    <!-- Nav Bar -->
		<div class="nav-section">
			<div class="navbar">
				<div>
					<img src="../img/logoBlack.png" alt="logo" height="60">
				</div>
				<div class="nav">
					<!-- Jinodi -->
					<a href="./home.html" class="active">Home</a>
					<!-- Jinodi -->
					<a href="./CommentForm.html">Comments</a>
					<!-- Susa -->
					<a href="./Shop.html">Shop</a>
					<!-- Geev -->
					<a href="./Quiz.html">Quiz</a>
					<!-- all -->
					<a href="./Blog.html">Blog</a>
					<!-- Kanchana -->
					<a href="./Site_Map.html">Site Map</a>
					<!-- Kanchana -->
					<a href="./Thumbnail_Gallery.html">Image Gallery</a>
					<!-- Geev -->
					<a href="./AboutUs.html">About Us</a>
				</div>
			</div>
		</div>
		<!-- End-Navigation bar -->

	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="HandheldFriendly" content="True">
	<div class="header_wrapper">
		<div class="header">
			<h1>F.I.F.A - The 90-Minute Mindset</h1>
			<span class="text">Evolution Of Football</span>
		</div>
	</div>

		<!--- Bol Content  --->
	
	<div class="main">
		<p>Over the world, football has captured the attention of millions of fans.
			Football has become a cultural phenomenon, whether it is due to the exciting games,
			 the fervor of the fans, or the rich history of the sport. The world of football, from its
			  regulations to its biggest players and teams, will be examined in this blog.
	   </p>
   
	   <p>Let's start by discussing the rules of football. A spherical ball is used
		   in the game of football, which is played between two teams of eleven players each.
			Goals must be scored by kicking the ball into the net of the opposing team.
			At the conclusion of the game, the team with the most goals wins.
			The game is played on a rectangular field with two goals at either end,
			and players are only allowed to move the ball with their feet, legs, torso, and head.
	   </p>

		<img src="/img/football.png">
		<p>
			Let's now examine the biggest football teams and players.
			Real Madrid is one of the most well-liked sports teams in the world.
			More than any other team, Real Madrid, which is based in Madrid, Spain,
			has won 13 European Cup/UEFA Champions League championships. Real Madrid's most prominent
			former players include Cristiano Ronaldo, Zinedine Zidane, and Raul Gonzalez.  
		</p>
	   
		<p>
			FC Barcelona, another well-known team with a Spanish foundation, is another.
			FC Barcelona is renowned for its possession-based style of play, which emphasizes rapid passes
			and maintaining possession of the ball, and has won five Champions League championships.
			Lionel Messi, Andres Iniesta, and Xavi Hernandez are some of the biggest names to have
			represented FC Barcelona.
		</p>

		<p>
			Another top-tier football league that receives a lot of attention is the English Premier League.
			There are 20 teams in the league, with Manchester United, Liverpool, Arsenal, and Chelsea among the
			top ones. Some of the biggest names in football,
			such as Cristiano Ronaldo, Thierry Henry, and Wayne Rooney, are products of the Premier League.
		</p>	   
		<p>
			In addition to club football, there is also international football, in which different nations
			face off. The most important international football competition, the FIFA World Cup is held every
			four years and features the top teams from all around the world competing for the championship.
			Some of the most iconic events in football history have come from this competition,
			including as Zinedine Zidane's headbutt in the 2006 final and Diego Maradona's "Hand of God" goal.
		</p>
	
		<p>
	In conclusion, millions of people all across the world have become passionate about football.
	There is something in the world of football for everyone, regardless of whether you support the best
	players or the biggest teams. Be ready to experience the thrill
	and emotion of football by donning your jersey and grabbing your scarf.
		</p>
	</div>
	</div>

	  <!----------- Footer -------------->

	  <section class="footer-copyRight">
		<p>Copyright &copy; 2023 Run Sports (Pvt) Ltd. All Rights Reserved.</p>
		<p>Developed by a
		  <a href="about-us.html#devs">Designzillas Group of Developers</a>
		</p>   
	</section>
</body>
</html>