
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/st3BlogStyles.css">
	<link rel="stylesheet" href="../css/navBarStyles.css">
	<title>BLOG-STU3</title>
</head>

<body>
	    <!-- Nav Bar -->
		<div class="nav-section">
			<div class="navbar">
				<div>
					<img src="../img/logoBlack.png" alt="logo" height="60">
				</div>
				<div class="nav">
					<!-- Jinodi -->
					<a href="./home.html" >Home</a>
					<!-- Jinodi -->
					<a href="./CommentForm.html">Comments</a>
					<!-- Susa -->
					<a href="./Shop.html">Shop</a>
					<!-- Geev -->
					<a href="./Quiz.html">Quiz</a>
					<!-- all -->
					<a href="./Blog.html" class="active">Blog</a>
					<!-- Kanchana -->
					<a href="./Site_Map.html">Site Map</a>
					<!-- Kanchana -->
					<a href="./Thumbnail_Gallery.html">Image Gallery</a>
					<!-- Geev -->
					<a href="./AboutUs.html">About Us</a>
				</div>
			</div>
		</div>
		<!-- End-Navigation bar -->

	<div class="header_wrapper">
		<div class="header">
			<h1>Specialty of volleyball</h1>
			<span class="text">: Unique combination of physical, mental, and strategic demands</span>
		</div>
	</div>
	<div class="main">
		<p>
			Volleyball is a team sport that involves two teams of six players each, with the objective of scoring points by 
            hitting a ball over a net and onto the opponent's court without the ball being returned. 
            It is a fast-paced and physically demanding sport that requires a combination of skills such as agility, 
            speed, power, coordination, and strategy.
		</p>
		<p>
			One of the specialties of volleyball is that it is a non-contact sport, meaning that players are not 
            allowed to touch the net or each other during play. This makes it a safer sport compared to other contact 
            sports such as football or basketball.
		</p>
		<img src="../img/Volleyball.jpeg" alt="volleyball">
		<p>
			Another specialty of volleyball is that it requires players to communicate and work closely as a 
            team to execute plays and win points. Players must be able to read and anticipate their opponent's moves, 
            make quick decisions, and adjust their positioning on the court accordingly.
		</p>
		<p>
			Volleyball also requires specialized skills such as serving, passing, setting, hitting, blocking, and digging. 
            Each position on the court has specific responsibilities and requires different skills, making volleyball a sport that 
            demands versatility and adaptability from its players.
		</p>
		<p>
			Overall, the specialty of volleyball lies in its unique combination of physical, mental, and strategic 
            demands that require teamwork, communication, and specialized skills to succeed. 
		</p>
	</div>

	<!--Footer-->
<section class="footer-copyRight">
	<h4>Copyright &copy; 2023 Run Sports (Pvt) Ltd. All Rights Reserved.</h4>
	<p>Developed by a
	  <a href="../views/AboutUs.html">Designzillas Group of Developers</a>
	</p>   
</section>
</body>
</html>